<div class="container">
  <nav id="subheader">
    <header class="title">Topics</header>
      <ul class="tabs" id="home_tabs_sort">
        <li><a href="/questions?interesting=true">Interesting</a></li>
        <li><a href="/questions?views=true">Views</a></li>
        <li><a href="/questions?answers=true">Answers</a></li>
        <li><a href="/questions?votes=true">Votes</a></li>
      </ul>
  </nav>


  <% @questions.all.each do |q| %>
    <div class="box">

      <ul>
        <div class="test">
          <div class="info">
            <li class="answer"><div class="count"><%= count_votes(q)%></div>Votes</li>
            <li class="answer"><div class="count"><%= q.answers.count %></div> Answers</li>
            <li class="view"> <div class="count"><%= q.view_count %> </div> Views </li>
          </div>
        </div>

        <div class="question_title">
          <li><a href="/questions/<%= q.id %>"><%= q.title %></a></li>
        </div>
      <div class="username">
        <li class="author"><%= q.user.username %></li>
      </div>
      <div class="tag_container">
        <% q.tags.each do |tag| %>
        <li class="tag_wrapper">
          <%= tag.tag_name %>
        </li>
        <% end %>
      </div
      </ul>

    </div>
  <% end %>
</div>
<br>
