<div class="container">
  <nav id="subheader">
    <header id="title">All Questions</header>
      <ul class="tabs">
        <li>Interesting</li>
        <li>Featured</li>
        <li>Hot</li>
        <li>Week</li>
        <li>Month</li>
      </ul>
  </nav>
  <% @questions.all.each do |q| %>
    <div class="box">
      <ul>
        <!-- <li class="author"><%= q.user.username %></li> -->
        <li class="answer"><div class="count"><%= q.answers.count %></div> Answers</li>
        <li class="view"> <div class="count"><%= q.view_count %> </div> Views </li>
        <li class="question"><a href="/questions/<%= q.id %>"><%= q.title %></a></li>
      </ul>
    </div>
  <% end %>
</div>
<br>


