<div class="container">
  <nav id="subheader">
    <header id="title">All Questions</header>
      <ul class="tabs">
        <li>Interesting</li>
        <li>Featured</li>
        <li>Hot</li>
        <li>Week</li>
        <li>Month</li>
      </ul>
  </nav>


  <% @questions.all.each do |q| %>
    <div class="box">

      <ul>
        <!-- <li class="author"><%= q.user.username %></li> -->
        <div class="test">
          <div class="info">
            <li class="answer"><div class="count">0</div>Votes</li>
            <li class="answer"><div class="count"><%= q.answers.count %></div> Answers</li>
            <li class="view"> <div class="count"><%= q.view_count %> </div> Views </li>
          </div>
        </div>

        <div class="question_title">
          <li><a href="/questions/<%= q.id %>"><%= q.title %></a></li>
        </div>
      </ul>

    </div>
  <% end %>
</div>
<br>
