<h1><%= current_user.username %></h1>
<% if !current_user.questions.empty? %>
  <h2>Questions</h2>
  <% current_user.questions.each do |q| %>
    <h3><a href="/questions/<%= q.id %>"><%= q.title %></a></h3>
    <% q.tags.each do |tag| %>
      <%= tag.tag_name %>
    <% end %>
    <p>Views: <%= q.view_count %></p>
    <p>Answers: <%= q.answers.count %></p>
    <br>
  <% end %>
<% end %>
